# Ignore compiled files
*.pyc

# Igonore local settings and sym link
mysite/settings.py
mysite/settings-local.py

# Ignore development notes
notes.txt

# Ignore virtualenv files
env/
requirements.txt

# Python shell patch script
patch_readline_issue_18458.sh
