.lesson-title {
  font-weight: bold;
}

.arrow {
  width: 10px;
  margin-right: 4px;
}
.assignment {
  padding: 5px;
}
.assignment.Intro.level-highlighted {
  background-color: #E8F4FD;
}

.assignment.Beginner.level-highlighted {
  background-color: #D0E8FC;
}

.assignment.Accelerated.Beginner.level-highlighted {
  background-color: #9FD1F9;
}

.assignment.Intermediate.level-highlighted {
  background-color: #6FBBF7;
}

.assignment.Advanced.level-highlighted {
  background-color: #3EA4F4;
}
