{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>{% block title%}Salsa Lessons{% endblock title%}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bpotstrap CSS -->
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap Icons CSS -->
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'lessons/style.css' %}" />

    <!-- JQuery -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <!-- JQuery UI -->
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>

    <!-- Custom JS -->
    <script src="{% static 'lessons/javascript.js' %}" />

    <!-- Bootstrap -->
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  </head>

  <body>

    <div class="container">
      <nav class="navbar navbar-default navbar-inverse" role="navigation">
        <div class="navbar-header">
          <a class="navbar-brand" href="{% url 'index' %}"><b>Salsa Lessons</b></a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav">
            <li class="active">
              <a href="{% url 'index' %}">Syllabus</a>
            </li>
            <li>
              <a href="{% url 'guest_lessons' %}">Guest Lessons</a>
            </li>
          </ul>
        </div>
      </nav>
      {% block header %}
      <h1>Salsa!</h1>
      {% endblock header %}
      {% block content %}
      <h1>Learn about lessons here</h1>
      {% endblock content %}
    </div>
  </body>

</html>
