{% extends "lessons/base.html" %}

{% block header %}
  <div class="page-header">
    <h3 class="text-center">
      {% if leads %}
      Lead
      {% elif follows %}
      Follow
      {% endif %}
      Instructors
    </h3>
    {% if leads %}
    <h4 class="text-center"><a href="{% url 'instructors_follows' %}">Follows</a></h4>
    {% elif follows %}
    <h4 class="text-center"><a class="text-center" href="{% url 'instructors_leads' %}">Leads</a></h4>
    {% endif %}
  </div>
{% endblock header %}

{% block content %}
  <table class="table">
    <tbody>
      <tr class="table-header row-header-colored active">
        <td>Date</td>
        {% for instructor in instructors %}
        <td>{{ instructor }}</td>
        {% endfor %}
      </tr>
      {% for practice in practices %}
      <tr>
        <td>{{ practice.date }}</td>
        {% for i in instructors %}
        <td>
          {% for a in assignments %}
            {% if a.practice.date == practice.date %}

              {% if a.follow_instructor == i %}
                <span class="assignment {{ a.lesson.style}} {{a.lesson.level}}">
                {{ a.lesson }}
                {% if a.lead_instructor %}
                  ({{ a.lead_instructor }})<br>
                {% endif %}
                </span>
                <br>
              {% elif a.lead_instructor == i %}
                <span class="assignment {{ a.lesson.style}} {{a.lesson.level}}">
                {{ a.lesson }}
                {% if a.follow_instructor %}
                  ({{ a.follow_instructor }})<br>
                {% endif %}
                </span>
                <br>

              {% endif %}

            {% endif %}

          {% endfor %}
        </td>
        {% endfor %}
      </tr>
      {% endfor %}
{% endblock content %}
